

body {
    background-color: #B0D2D3;
}




#photo {
  background-color: black;
}   

#photo2 {
  background-color: black;
}    
    .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
   
    
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    
	
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    
	
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    
    
    .quote.stripe.segment .grid .column {
      padding-top: 0em;
      padding-bottom: 0em;
    }

    .footer.segment {
      padding: 5em 0em;
    }


body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.4285em;
    font-weight: 700;
}



body {
    max-height: 100vh;
}

